-
  // global variables
  const page = {
    type: 'webpage',
    url: 'https://example.com',
    title: 'title',
    description: '',
    image: '',
    facebook: {
      appId: '',
    },
    twitter: {
      card: '',
      site: '', // @から記述すること
    }
  }

doctype html
html(lang='ja')
  head(prefix=`og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# ${page.type}: http://ogp.me/ns/${page.type}#`)
    meta(charset='utf-8')

    link(rel='canonical' href=page.url)

    meta(name='viewport' content='width=device-width, initial-scale=1')

    meta(name='description' content=page.description)

    title= page.title

    meta(property='og:url' content=page.url)
    meta(property='og:image' content=page.image)
    meta(property='og:type' content=page.type)
    meta(property='og:title' content=page.title)
    meta(property='og:site_name' content=page.title)
    meta(property='og:description' content=page.title)
    meta(property='og:locale' content='ja_JP')

    if page.facebook.appId
      meta(property='fb:app_id' content=page.facebook.appId)

    if page.twitter.card
      met(name='twitter:card' content=page.twitter.card)
    if page.twitter.site
      met(name='twitter:site' content=page.twitter.site)

    block head
      include ../partials/head.html

  body
    block noscript
      include ../partials/noscript.html

    block body

    block foot
      include ../partials/foot.html
